---
import { db, boards } from "@/db/schema";
import MainLayout from "@/layouts/MainLayout.astro";
import { NewSoundForm } from "./_components/newSoundForm";
import { eq } from "drizzle-orm";
const { id } = Astro.params;
if(!id) return;


const board = (await db.select().from(boards).where(eq(boards.id, id)))[0]
console.log(board);
---

<MainLayout>
	<div class="mx-auto max-w-5xl mt-10">
		<h1 class="text-center text-2xl font-semibold mb-8">{board.name}</h1>
		<NewSoundForm boardId={board.id} client:load />
	</div>
</MainLayout>