---
import { db, type BoardType, Board as BoardModel } from "@/db/schema";
import { CreateBoard } from "./_components/createBoard";
import Board from "@/components/Board.astro";
import MainLayout from "@/layouts/MainLayout.astro";

const Boards = await db.select().from(BoardModel);


---

<MainLayout>
	<div class="mx-auto max-w-5xl mt-10">
		<h1 class="text-center text-2xl font-semibold mb-8">Boards</h1>
		<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 gap-3 mb-4">
			{
				Boards.map((board) => (
					<Board
						id={board.id}
						createdAt={board.createdAt}
						name={board.name}
						soundCount={3}
					/>
				))
			}
		</div>
		<CreateBoard client:load />
	</div>
</MainLayout>
