---
import MainLayout from "@/layouts/MainLayout.astro";
import { NewSoundForm } from "./_components/newSoundForm";
---

<MainLayout>
	<div class="mx-auto max-w-5xl mt-10">
		<h1 class="text-center text-2xl font-semibold mb-8">New Board</h1>
		<NewSoundForm client:load />
	</div>
</MainLayout>
