---
import { Button } from '@/components/ui/button'
import MainLayout from '@/layouts/MainLayout.astro'
console.log(import.meta.env)
---
<MainLayout >
	<nav>
		<a href="/boards">Boards</a>
	</nav>
	<h1 class="text-4xl mt-8">hello</h1>
</MainLayout>

